.add--area {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 40px 10px 40px 10px;
  display: flex;
  justify-content: centre;
  align-items: centre;
}

.input-wrapper {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.todo-input {
  padding: 0 10px 0 5px;
  width: 83%;
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
}
.add-todo {
  border-radius: 0 4px 4px 0;
}

.todo-area {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: centre;
  align-items: centre;
  min-height: 3rem;
  max-height: max-content;
}
.container {
  row-gap: 20px;
  overflow: scroll;
}
.todo-list {
  row-gap: 10px;
}
.add-icon {
  pointer-events: none;
}
.btn-delete {
  height: 1rem;
  width: 1rem;
}

.todo {
  height: 3rem;
}
.todo-name {
  width: 80%;
}

.btn-del {
  width: 10%;
  background-color: #fb3d0f;
}
.update {
  width: 10%;
  border-right: 1px solid white;
  background-color: #09c946;
}
